 {% for tag in customer.tags %}
     {% if tag == "USD" %}
        {% assign cur-sym = "$" %}
		{% assign cost_sched_link = "https://drive.google.com/file/d/1uEOmK6Ajew5gakwycsU0AUhECHisBVpj/view?usp=sharing" %}
        {% assign allowBuy = true %}
     {% endif %}
    {% endfor %}

   {% for tag in customer.tags %}
     {% if tag == "EUR" %}
      {% assign cur-sym = "€" %}
      {% assign cost_sched_link = "https://drive.google.com/file/d/1Gg_RqN7_QHDqNpwJnFxkBWJ4U1GE3PM3/view?usp=sharing" %}
      {% assign allowBuy = false %}
     {% endif %}
    {% endfor %}

 
<div class="container">
<div class="accordion" id="costSchedules">
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Distributor Cost Schedule
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="heading"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
         <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
       
        
      <div class="canvas_div_pdf">
  <div class="col-md-12 text-center">
	<h1>Distributor Cost Schedule</h1>
    <a href="{{cost_sched_link}}" class="btn btn-primary" target="_blank" >Download PDF</a>
  </div>
    
 <div id="content" class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm ">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>SKU</b></p></th>
    <th><p><b>Min. Order Qty.</b></p></th>
    <th><p><b>Distributor Price</b></p></th>
    <th><p><b>MSRP</b></p></th>
    </tr>
    </thead>
    <tr>
    {% for product in collections.distributor.products %}
      {% if product.tags contains 'spare kit' %}
      {% else %}
      <td><div class="grid-view-item__image-wrapper"><img crossorigin="anonymous" src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
      <td><p><b>{{ product.title }}</b>
        <li>
       {% for color_option in product.options_by_name['Color'].values %}
        
        <ul class="sched">{{ color_option }}</ul>
    {% endfor %}
        </li>
       </p></td>
    <td>
     <p><li>
       <ul class="sched">	&nbsp;</ul>
        {% assign count = 1 %}
       	{% for variant in product.variants %}
        {% assign count = count | plus: 1 %}
        
        {% if count > 1  %}
       
             <ul class="sched">{{ variant.sku }}</ul>
       
        {% else %}
        {% assign current_variant = product.selected_or_first_available_variant %}<ul class="sched">{{ current_variant.sku }}</ul>
        {% endif %}
    {% endfor%}
   </li> </p>
      </td>
    <td>
    {% if product.metafields.distributor != "blank"   %}  
    {%- for fieldName in product.metafields.distributor  -%}
    {% capture fieldnamefirst%}     
     {{ fieldName | first }}
      {%endcapture%}  
      {% if fieldnamefirst contains "moq_" %}
            <p>{{ fieldName | first | remove: "moq_" | append: " Unit(s)" }}</p>
            {%endif%}
      {% endfor %}
      {% endif %}
    </td>
    <td>
      
    {% if product.metafields.distributor != "blank"   %}  
    {%- for fieldName in product.metafields.distributor-%}
    {% capture fieldnamefirst%}     
    {{ fieldName | first }}
    {%endcapture%}  
    {% capture metavalue%}
    {{ fieldName | last }}
    {%endcapture%}  
         {% if metavalue != "blank"  %}
                          {% if fieldnamefirst contains "moq_" %}
                            <p>{{cur-sym}} {{ metavalue | money_without_currency }}</p>
                          {% endif %}
                  {%endif%}
       {% endfor %}
       {% endif %}   
    </td>
      
    <td><p class="money">{{cur-sym}}{{ product.metafields.distributor.msrp | money_without_currency }}</p></td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseNine"
        aria-expanded="false"
        aria-controls="collapseNine"
      >
        SOL Component Cost Schedule
      </button>
    </h2>
    <div
      id="collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="headingNine"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        
        
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
   <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>SKU</b></p></th>
    <th><p><b>Price</b></p></th>
    </tr>
    </thead>
    <tr>
    {% for product in collections.sol-spare-part-kit.products %} 
      {% if product.tags contains "spare SOL" %}  
      <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
    <td><p><b>{{ product.title }}</b></p></td>
    <td>{% assign current_variant = product.selected_or_first_available_variant %}<p>{{ current_variant.sku }}</p></td>
    <td><p class="money"> {{product.price | money }}</p></td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  </div>  
      
 
      </div>
    </div>
</div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        SOL Spare Kit
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
         <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>SOL Spare Kit</h1>
  </div>
          
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>Qty/kit</b></p></th>
     </tr>
    </thead>
    <tr>
    {% for product in collections.sol-spare-part-kit.products %} 
      {% if product.metafields.wholesale.spare_kit == 'SOL' %}
     {% if product.id == 6608760569959 %} 
      {% else %}
    <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
    <td><p><b>{{ product.title }}</b></p></td>
    <td><p class="">{{ product.metafields.wholesale.pieces_per_kit }}</p></td>
    
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
    <tr>
      <td></td>
      <td><p><b>TOTAL</b></p></td>
      <td><p class="money"><b>{{cur-sym}} {% if allowBuy  %}{% for product in collections.sol-spare-part-kit.products %} 
        
   	{% if product.id == 6608760569959 %} 
       	{{product.price | money_without_currency  }}
   {% endif %}     
   {% endfor %}
         {% elsif allowBuy == false%}1,499.00
        {% endif %}</b></p> </td>
    </tr>
  </table>
 
   </div>
    {% if allowBuy  %}    
   {% for product in collections.sol-spare-part-kit.products %} 
   {% if product.id == 6608760569959 %}
   <div class="product-{{ product.id }}">
   <div class="col-4 payments">
     {% include 'product-form' with 'product' %}
   </div>
        </div>
   {% endif %}
        
   {% endfor %}
        {% elsif allowBuy == false%}
        <div class="col-12 text-center"> To order, please contact <a href="mailto:sales@ackuretta.com">sales@ackuretta.com</a> </div>
     {% endif %}
  </div>
      </div>
    </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEigth">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseEigth"
        aria-expanded="false"
        aria-controls="collapseEigth"
      >
       DENTIQ Component Cost Schedule
      </button>
    </h2>
    <div
      id="collapseEigth"
      class="accordion-collapse collapse"
      aria-labelledby="headingEigth"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        
        
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>SKU</b></p></th>
    <th><p><b>Price</b></p></th>
    </tr>
    </thead>
    <tr>
    {% for product in collections.dentiq-spare-kit.products %} 
      {% if product.tags contains "spare DENTIQ" %}  
    <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
    <td><p><b>{{ product.title }}</b></p></td>
    <td>{% assign current_variant = product.selected_or_first_available_variant %}<p>{{ current_variant.sku }}</p></td>
    <td><p class="money"> {{product.price | money }}</p></td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  </div>  
      
 
      </div>
    </div>
</div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        DENTIQ Spare Kit
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>DENTIQ Spare Kit</h1>
  </div>
      
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>Qty/kit</b></p></th>
     </tr>
    </thead>
    <tr>
    {% for product in collections.dentiq-spare-kit.products %} 
      {% if product.metafields.wholesale.spare_kit == 'DENTIQ' %}
        {% if product.id == 6609137303655 %} 
      {% else %}
    <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
   <td><p><b>{{ product.title }}</b></p></td>
    <td><p class="">{{ product.metafields.wholesale.pieces_per_kit }}</p></td>    
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
    <tr>
      <td></td>
      <td><p><b>TOTAL</b></p></td>
      <td><p class="money"><b>{{cur-sym}} {% if allowBuy  %}{% for product in collections.dentiq-spare-kit.products %} 
   	{% if product.id == 6609137303655 %}
	{{product.price | money_without_currency}}
   {% endif %}     
   {% endfor %}
         {% elsif allowBuy == false%}1,099.00
        {% endif %}</b></p></td>
    </tr>
  </table>
  </div>  
         {% if allowBuy  %}    
         {% for product in collections.dentiq-spare-kit.products %} 
         {% if product.id == 6609137303655 %}
           <div class="product-{{ product.id }}">
           <div class="col-4 payments">
     {% include 'product-form' with 'product' %}
   </div>
        </div>
   {% endif %}
        
   {% endfor %}
        {% elsif allowBuy == false%}
        <div class="col-12 text-center"> To order, please contact <a href="mailto:sales@ackuretta.com">sales@ackuretta.com</a> </div>
     {% endif %}
        
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        CLEANI Spare Parts
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="headingFour"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>CLEANI Spare Parts</h1>
  </div>
      
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
  <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>SKU</b></p></th>
    <th><p><b>Price</b></p></th>
    </tr>
    </thead>
    <tr>
    {% for product in collections.spare-cleani.products %}   
    <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
    <td><p><b>{{ product.title }}</b></p></td>
    <td>{% assign current_variant = product.selected_or_first_available_variant %}<p>{{ current_variant.sku }}</p></td>
    <td> <p class="money">{{cur-sym}} {{product.metafields.distributor.msrp  | money_without_currency }}</p></td>
    </tr>
    {% endfor %}
    </table>
  </div>  
         
        
      </div>
    </div>
  </div>
  
  
  
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        CURIE Spare Parts
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="headingFive"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>CURIE Spare Parts</h1>
  </div>
      
 <div class="table-responsive">
   <div class="text-end"><p><input type="button" class="button btn-primary no-print hidden-sm-up" id="btnPrint" onclick="print()" value="Print PDF" /></p>
     <p class="small text-muted hidden-sm-up text-end">Printed on: {{'now' | date: " %D %H:%M" }}</p> </div>
    <table class="schedule table table-striped table-hover table-borderless table-sm">
    <thead>
    <tr class="text-center">
    <th><p><b>Image</b></p></th>
    <th><p><b>Product</b></p></th>
    <th><p><b>SKU</b></p></th>
    <th><p><b>Price</b></p></th>
    </tr>
    </thead>
    <tr>
    {% for product in collections.spare-curie.products %}   
    <td><div class="grid-view-item__image-wrapper"><img src="{{ product.images[0] | product_img_url: '500' }}"/></div></td>
    <td><p><b>{{ product.title }}</b></p></td>
    <td>{% assign current_variant = product.selected_or_first_available_variant %}<p>{{ current_variant.sku }}</p></td>
    <td> <p class="money">{{cur-sym}} {{product.metafields.distributor.msrp  | money_without_currency }}</p></td>
    </tr>
    {% endfor %}
    </table>
  </div>  
         
        
      </div>
    </div>
  </div>
  
  
  
  
  
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseSix"
        aria-expanded="false"
        aria-controls="collapseSix"
      >
        HS Codes
      </button>
    </h2>
    <div
      id="collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="headingSix"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>Download HS Codes <a href="https://drive.google.com/file/d/13wYkBy0TyzakyZGa66yZljKfbZVmtS57/view" target="_blank"> Here</a></h1>
  </div>
      
 
      </div>
    </div>
</div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#collapseSeven"
        aria-expanded="false"
        aria-controls="collapseSeven"
      >
        Shipping Estimates
      </button>
    </h2>
    <div
      id="collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="headingSeven"
      data-mdb-parent="#costSchedules"
    >
      <div class="accordion-body">
        <div class="col-md-12 text-center">
	<img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ack-logo-desk-dark_4b643e86-a5df-44cb-b98c-c867c330d2c4_410x.png?v=1624620725" class="hidden-sm-up" />
  </div>
      
  <div class="col-md-12 text-center">
	<h1>Download Shipping Estimates List <a href="https://drive.google.com/file/d/10vCyU4oWgSDA9bYt8fgkGMY5TrmCPGlM/view" target="_blank"> Here</a></h1>
  </div>
      
 
      </div>
    </div>
</div>

  

</div>
    </div>


<style>

</style>

