{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign font_color  = block.settings.font_color  %}
{% assign bg_color  = block.settings.bg_color  %}

{% else %}
  {% assign id = section.id %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign font_color  = section.settings.font_color  %}
  {% assign bg_color  = section.settings.bg_color  %}
{% endif %}


<div id="LeaveReview"></div>
 
  
 <div  class="{%if wide_display %}container-fluid {%else%}container{%endif%}" style="background-color:{{bg_color}}!important; color:{{font_color}}!important;"
id="stamped-main-widget"   
data-widget-style="standard" 
data-product-id="{{ product.id }}"   
data-name="{{ product.title | escape }}"   
data-url="{{ shop.url }}{{ product.url }}"   
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
data-description="{{ product.description | escape }}"   
data-product-sku="{{product.handle}}"
data-product-title="{{product.title}}" 
data-product-type="{{product.type}}">   
{{product.metafields.stamped.reviews}}   
 
</div>
<!-- Stamped - End Main Widget --><br>
	





<style>


  
  #LeaveReview a{
    color:{{font_color}} !important;
  }
  
  #stamped-main-widget {
    margin: 0 !important;
}
</style>

<!--Stamped - Begin Main Widget -->
