{% if type == 'block' %}
{% assign att_title_1 = block.settings.att_title_1 %}
{% assign att_title_2 = block.settings.att_title_2 %}
{% assign att_title_3 = block.settings.att_title_3 %}
{% assign att_title_4 = block.settings.att_title_4 %}
{% assign att_title_5 = block.settings.att_title_5 %}
{% assign att_title_6 = block.settings.att_title_6 %}
{% assign att_title_7 = block.settings.att_title_7 %}
{% assign att_title_8 = block.settings.att_title_8 %}
{% assign att_title_9 = block.settings.att_title_9 %}
{% assign att_title_10 = block.settings.att_title_10 %}
{% assign	att_1_1 = block.settings.att_1_1	%}
{% assign	att_1_2 = block.settings.att_1_2	%}
{% assign	att_1_3 = block.settings.att_1_3	%}
{% assign	att_2_1 =	block.settings.att_2_1	%}
{% assign	att_2_2	 =	block.settings.att_2_2	%}
{% assign	att_2_3	 =	block.settings.att_2_3	%}
{% assign	att_3_1  =	block.settings.att_3_1	%}
{% assign	att_3_2	 =	block.settings.att_3_2	%}
{% assign	att_3_3	 =	block.settings.att_3_3	%}
{% assign	att_4_1  =	block.settings.att_4_1	%}
{% assign	att_4_2	 =	block.settings.att_4_2	%}
{% assign	att_4_3	 =	block.settings.att_4_3	%}
{% assign	att_5_1  =	block.settings.att_5_1	%}
{% assign	att_5_2	 =	block.settings.att_5_2	%}
{% assign	att_5_3	 =	block.settings.att_5_3	%}
{% assign	att_6_1  =	block.settings.att_6_1	%}
{% assign	att_6_2	 =	block.settings.att_6_2	%}
{% assign	att_6_3	 =	block.settings.att_6_3	%}
{% assign	att_7_1  =	block.settings.att_7_1	%}
{% assign	att_7_2	 =	block.settings.att_7_2	%}
{% assign	att_7_3	 =	block.settings.att_7_3	%}
{% assign	att_8_1  =	block.settings.att_8_1	%}
{% assign	att_8_2	 =	block.settings.att_8_2	%}
{% assign	att_8_3	 =	block.settings.att_8_3	%}
{% assign	att_9_1  =	block.settings.att_9_1	%}
{% assign	att_9_2	 =	block.settings.att_9_2	%}
{% assign	att_9_3	 =	block.settings.att_9_3	%}
{% assign	att_10_1 =	block.settings.att_10_1	%}
{% assign	att_10_2 =	block.settings.att_10_2	%}
{% assign	att_10_3 =	block.settings.att_10_3	%}
{% else %}
{% assign att_title_1 = section.settings.att_title_1 %}
{% assign att_title_2 = section.settings.att_title_2 %}
{% assign att_title_3 = section.settings.att_title_3 %}
{% assign att_title_4 = section.settings.att_title_4 %}
{% assign att_title_5 = section.settings.att_title_5 %}
{% assign att_title_6 = section.settings.att_title_6 %}
{% assign att_title_7 = section.settings.att_title_7 %}
{% assign att_title_8 = section.settings.att_title_8 %}
{% assign att_title_9 = section.settings.att_title_9 %}
{% assign att_title_10 = section.settings.att_title_10 %}
{% assign	att_1_1 = section.settings.att_1_1	%}
{% assign	att_1_2 = section.settings.att_1_2	%}
{% assign	att_1_3 = section.settings.att_1_3	%}
{% assign	att_2_1 = section.settings.att_2_1	%}
{% assign	att_2_2 = section.settings.att_2_2	%}
{% assign	att_2_3 = section.settings.att_2_3	%}
{% assign	att_3_1  =	section.settings.att_3_1	%}
{% assign	att_3_2	 =	section.settings.att_3_2	%}
{% assign	att_3_3	 =	section.settings.att_3_3	%}
{% assign	att_4_1  =	section.settings.att_4_1	%}
{% assign	att_4_2	 =	section.settings.att_4_2	%}
{% assign	att_4_3	 =	section.settings.att_4_3	%}
{% assign	att_5_1  =	section.settings.att_5_1	%}
{% assign	att_5_2	 =	section.settings.att_5_2	%}
{% assign	att_5_3	 =	section.settings.att_5_3	%}
{% assign	att_6_1  =	section.settings.att_6_1	%}
{% assign	att_6_2	 =	section.settings.att_6_2	%}
{% assign	att_6_3	 =	section.settings.att_6_3	%}
{% assign	att_7_1  =	section.settings.att_7_1	%}
{% assign	att_7_2	 =	section.settings.att_7_2	%}
{% assign	att_7_3	 =	section.settings.att_7_3	%}
{% assign	att_8_1  =	section.settings.att_8_1	%}
{% assign	att_8_2	 =	section.settings.att_8_2	%}
{% assign	att_8_3	 =	section.settings.att_8_3	%}
{% assign	att_9_1  =	section.settings.att_9_1	%}
{% assign	att_9_2	 =	section.settings.att_9_2	%}
{% assign	att_9_3	 =	section.settings.att_9_3	%}
{% assign	att_10_1 =	section.settings.att_10_1	%}
{% assign	att_10_2 =	section.settings.att_10_2	%}
{% assign	att_10_3 =	section.settings.att_10_3	%}
{% endif %}



<div class="table container">
<div class="sixteen columns">
<div class="section clearfix center"> <a id="atrr_btn" class="button btn waves-effect waves-light tms_fill_orange readmore" href="#">Compare ▼</a></div>
<div class="product-description rte" style="height:0; "itemprop="description">
  <table id="prod_attr" class="table_attrib table-striped table-hover">

<tbody>
  
{% for i in (1..10) %}
  {% capture attrib_title %}att_title_{{i}}{% endcapture %}
  {% if block.settings[attrib_title] != blank %}
  <tr>
<td class="prod_attr_title {% if i == 1 or i == 3 or i == 5 or i == 7 or i == 9 %} alternate_shading"  {% else %}"{% endif %} colspan="3"><p><b>{{block.settings[attrib_title]}}</b></p></td>
  </tr>
  {% endif%}
     <tr class="{% if i == 1 or i == 3 or i == 5 or i == 7 or i == 9 %} alternate_shading">  {% else %}">{% endif %}
      {% for j in (1..3) %}
       {% capture attrib_txt %}att_{{i}}_{{j}}{% endcapture %}
         {% if block.settings[attrib_txt] != blank %}
         <td><p>{{block.settings[attrib_txt]}}</p></td>
         {% endif%}
      {% endfor %}
     </tr>
{% endfor %}
  </td>
</tbody>
 </table>
</div>
</div>
</div>