<div class="container-fluid aboutus">
  <div class="container-fluid gradnt text-center">
     <div class="container header">
      <div class="container">
        <div class="row text-center" >
          <div class="col">
            <h1 class="mission_s"> {{ 'About_Us.Values.mission_s' | t }}</h1>
      </div>
        </div>
            
  <div class="row text-center ">
    <div class="col-lg-3 col-md-6 ">
      <div class="icon_values"><i class="fa-solid fa-hand-fist"></i></div>
         <h1> {{ 'About_Us.Values.company_value_1' | t }} </h1>
      <p class="values">{{ 'About_Us.Values.company_value_blurb_1' | t }} </p>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="icon_values"> <i class="fa-solid fa-bolt-lightning"></i></div>
<h1>{{ 'About_Us.Values.company_value_2' | t }} </h1>
     <p class="values"> {{ 'About_Us.Values.company_value_blurb_2' | t }} </p>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="icon_values"> <i class="fa-solid fa-award"></i></div>
 <h1>{{ 'About_Us.Values.company_value_3' | t }} </h1>
    <p class="values"> {{ 'About_Us.Values.company_value_blurb_3' | t }}</p>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="icon_values"> <i class="fa-solid fa-rocket"></i></div>
<h1>{{ 'About_Us.Values.company_value_4' | t }} </h1>
   <p class="values">  {{ 'About_Us.Values.company_value_blurb_4' | t }}</p>
    </div>
  </div>
</div>
   </div>
   <img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/aboutus-bannerG.png?v=1645608355" class="img-fluid" />
  </div>
 
  
<div class="container">
   <div class="row text-center" >
          <div class="col">
            <h1 class="dream_t"></h1>
      </div>
        </div>
  
    <div class="row empl text-center" >  
<div class="col-md-6 ">
      <h1> {{ 'About_Us.Values.Our_CEO_Tag' | t }} </h1>
      <p>{{ 'About_Us.Values.CEO_Message' | t }} </p>
     <p><b>{{ 'About_Us.Values.CEO_Name' | t }}</b> </p>
<a target="_blank" href="{{ 'About_Us.Values.CEO_LinkedIn' | t }}"> <p>{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
    </div>
      <div class="col-md-6 ">
       <img src="https://cdn.shopify.com/s/files/1/0276/4174/1415/files/ayush-profile-p.jpg?v=1645683819" class="img-fluid" />
    </div>
  </div>
  <div class="feature_divider"></div>
  </div>
  
  <div class="row text-center" >
          <div class="col">
            <h1 class="dream_t"> {{ 'About_Us.Values.Testimonials' | t }}</h1>
      </div>
        </div>
  
  
  <div class="testis desktop_vid container bg-coleur">

    <h1>{{block.settings.title}}</h1>
    
<div class="card border border-primary shadow-0 testi-card ">
  <div class="card-body">
    <div class="im-cont text-center">
    {% capture img_link_1%}
     {{ 'About_Us.Values.Testi_link_1' | t }}
    {% endcapture %}
    {% if img_link_1 != blank %}
    <img src=" {{img_link_1}}" class="img-fluid rounded-circle"  alt="{{ 'About_Us.Values.Testi_Author_1' | t }} | {{ 'About_Us.Values.Testi_Spec_1' | t }} | {{ 'About_Us.Values.Testimonials_1' | t }} " />
    {% endif %}
    </div>
    <h1 class="card-title">{{ 'About_Us.Values.Testi_Author_1' | t }}</h1>
    <h5 class="card-title ">{{ 'About_Us.Values.Testi_Spec_1' | t }}</h5>
    <h5 class="card-title text-muted ">{{ 'About_Us.Values.Testi_Office_1' | t }}</h5>
    <div class="feature_divider"></div>
    <p class="text-center card-text fst-italic"><b class="quota">"</b>{{ 'About_Us.Values.Testimonials_1' | t }}<b class="quota">"</b></p>
  </div>
</div>
    
<div class="card border border-primary shadow-0 testi-card ">
  <div class="card-body">
   <div class="im-cont text-center">
    {% capture img_link_2%}
     {{ 'About_Us.Values.Testi_link_2' | t }}
    {% endcapture %}
    {% if img_link_2 != blank %}
    <img src=" {{img_link_2}}" class="img-fluid rounded-circle"  alt="{{ 'About_Us.Values.Testi_Author_2' | t }} | {{ 'About_Us.Values.Testi_Spec_2' | t }} | {{ 'About_Us.Values.Testimonials_2' | t }}" />
    {% endif %}
    </div>
    <h1 class="card-title">{{ 'About_Us.Values.Testi_Author_2' | t }}</h1>
    <h5 class="card-title">{{ 'About_Us.Values.Testi_Spec_2' | t }}</h5>
    <h5 class="card-title text-muted">{{ 'About_Us.Values.Testi_Office_1' | t }}</h5>
    <div class="feature_divider"></div>
 <p class="text-center card-text fst-italic"><b class="quota">"</b>{{ 'About_Us.Values.Testimonials_2' | t }}<b class="quota">"</b></p>
    </p>
  </div>
</div>
    
    <div class="card border border-primary shadow-0 testi-card ">
  <div class="card-body">
    <div class="im-cont text-center">
    {% capture img_link_3%}
     {{ 'About_Us.Values.Testi_link_3' | t }}
    {% endcapture %}
    {% if img_link_3 != blank %}
    <img src=" {{img_link_3}}" class="img-fluid rounded-circle"  alt="{{ 'About_Us.Values.Testi_Author_3' | t }} | {{ 'About_Us.Values.Testi_Spec_3' | t }} | {{ 'About_Us.Values.Testimonials_3' | t }}" />
    {% endif %}
    </div>
    <h1 class="card-title">{{ 'About_Us.Values.Testi_Author_3' | t }}</h1>
    <h5 class="card-title">{{ 'About_Us.Values.Testi_Spec_3' | t }}</h5>
    <h5 class="card-title text-muted">{{ 'About_Us.Values.Testi_Office_3' | t }}</h5>
    <div class="feature_divider"></div>
 <p class="text-center card-text fst-italic"><b class="quota">"</b>{{ 'About_Us.Values.Testimonials_3' | t }}<b class="quota">"</b></p>
    </p>
  </div>
</div>
    
    <div class="card border border-primary shadow-0 testi-card ">
  <div class="card-body">
    <div class="im-cont text-center">
    {% capture img_link_4%}
     {{ 'About_Us.Values.Testi_link_4' | t }}
    {% endcapture %}
    {% if img_link_4 != blank %}
    <img src=" {{img_link_4}}" class="img-fluid rounded-circle"  alt="{{ 'About_Us.Values.Testi_Author_4' | t }} | {{ 'About_Us.Values.Testi_Spec_4' | t }} | {{ 'About_Us.Values.Testimonials_4' | t }}" />
    {% endif %}
    </div>
    <h1 class="card-title">{{ 'About_Us.Values.Testi_Author_4' | t }}</h1>
    <h5 class="card-title">{{ 'About_Us.Values.Testi_Spec_4' | t }}</h5>
    <h5 class="card-title text-muted">{{ 'About_Us.Values.Testi_Office_4' | t }}</h5>
    <div class="feature_divider"></div>
 <p class="text-center card-text fst-italic"><b class="quota">"</b>{{ 'About_Us.Values.Testimonials_4' | t }}<b class="quota">"</b></p>
    </p>
  </div>
</div>
    
    <div class="card border border-primary shadow-0 testi-card ">
  <div class="card-body">
   <div class="im-cont text-center">
    {% capture img_link_5%}
     {{ 'About_Us.Values.Testi_link_5' | t }}
    {% endcapture %}
    {% if img_link_5 != blank %}
    <img src=" {{img_link_5}}" class="img-fluid rounded-circle"  alt="{{ 'About_Us.Values.Testi_Author_5' | t }} | {{ 'About_Us.Values.Testi_Spec_5' | t }} | {{ 'About_Us.Values.Testimonials_5' | t }}" />
    {% endif %}
    </div>
    <h1 class="card-title">{{ 'About_Us.Values.Testi_Author_5' | t }}</h1>
    <h5 class="card-title">{{ 'About_Us.Values.Testi_Spec_5' | t }}</h5>
    <h5 class="card-title text-muted">{{ 'About_Us.Values.Testi_Office_5' | t }}</h5>
    <div class="feature_divider"></div>
 <p class="text-center card-text fst-italic"><b class="quota">"</b>{{ 'About_Us.Values.Testimonials_5' | t }}<b class="quota">"</b></p>
    </p>
  </div>
</div>
      
  </div>
  
  
  <div class="container-fluid bg-dark text-white">
    <div class="container">
   <div class="row text-center" >
          <div class="col">
            <h1 class="dream_t"> {{ 'About_Us.Values.Our_Dream_Team' | t }}</h1>
      </div>
        </div>
  
 <div class="row empl text-center" >  
      
    <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#cto">
         <img src=" {{ 'About_Us.Values.CTO_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.CTO_Name' | t }} | {{ 'About_Us.Values.CTO_Position' | t }}" />
          <h1> {{ 'About_Us.Values.CTO_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.CTO_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="cto" tabindex="-1" aria-labelledby="cto" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="cto"><b>{{ 'About_Us.Values.CTO_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.CTO_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.CTO_Name' | t }} | {{ 'About_Us.Values.CTO_Position' | t }}" />
            <h1> {{ 'About_Us.Values.CTO_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.CTO_Position' | t }}</b></p>
                <p>{{ 'About_Us.Values.CTO_Experience_html' | t }} </p>
            </div>
          </div>
        </div>
    
    </div>
        </div>

   <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#HOM">
         <img src=" {{ 'About_Us.Values.HOM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.HOM_Name' | t }} | {{ 'About_Us.Values.HOM_Position' | t }}  | Shopify Developer "/>
          <h1> {{ 'About_Us.Values.HOM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.HOM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="HOM" tabindex="-1" aria-labelledby="HOM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="HOM"><b>{{ 'About_Us.Values.HOM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.HOM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.HOM_Name' | t }} | {{ 'About_Us.Values.HOM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.HOM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.HOM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.HOM_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.HOM_link' | t }}"><p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
    
    </div>
     
        </div>

       <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#COM">
         <img src=" {{ 'About_Us.Values.COM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.COM_Name' | t }} | {{ 'About_Us.Values.COM_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.COM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.COM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="COM" tabindex="-1" aria-labelledby="COM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="COM"><b>{{ 'About_Us.Values.COM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.COM_Pic' | t }}" class="img-fluid"  alt="{{ 'About_Us.Values.COM_Name' | t }} | {{ 'About_Us.Values.COM_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.COM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.COM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.COM_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.COM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
    
    </div>
     
        </div>
       <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#SAM">
         <img src=" {{ 'About_Us.Values.SAM_Pic' | t }}" class="img-fluid"  alt="{{ 'About_Us.Values.SAM_Name' | t }} | {{ 'About_Us.Values.SAM_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.SAM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.SAM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="SAM" tabindex="-1" aria-labelledby="SAM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="SAM"><b>{{ 'About_Us.Values.SAM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.SAM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.SAM_Name' | t }} | {{ 'About_Us.Values.SAM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.SAM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.SAM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.SAM_Experience_html' | t }} </p>
                 <a target="_blank" href="{{ 'About_Us.Values.SAM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
    
    </div>
     
        </div>
      </div>
      
      
<div class="row empl text-center" >  
      
    <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#DMM">
         <img src=" {{ 'About_Us.Values.DMM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.DMM_Name' | t }} | {{ 'About_Us.Values.DMM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.DMM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.DMM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="DMM" tabindex="-1" aria-labelledby="DMM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="DMM"><b>{{ 'About_Us.Values.DMM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.DMM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.DMM_Name' | t }} | {{ 'About_Us.Values.DMM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.DMM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.DMM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.DMM_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.DMM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
    
    </div>
        </div>

   <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#GRD">
         <img src=" {{ 'About_Us.Values.GRD_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.GRD_Name' | t }} | {{ 'About_Us.Values.GRD_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.GRD_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.GRD_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="GRD" tabindex="-1" aria-labelledby="GRD" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="GRD"><b>{{ 'About_Us.Values.GRD_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.GRD_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.GRD_Name' | t }} | {{ 'About_Us.Values.GRD_Position' | t }}" />
          <h1> {{ 'About_Us.Values.GRD_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.GRD_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.GRD_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.GRD_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
    
    </div>
     
        </div>

       <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#FAM">
         <img src=" {{ 'About_Us.Values.FAM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.FAM_Name' | t }} | {{ 'About_Us.Values.FAM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.FAM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.FAM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="FAM" tabindex="-1" aria-labelledby="FAM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="FAM"><b>{{ 'About_Us.Values.FAM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.FAM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.FAM_Name' | t }} | {{ 'About_Us.Values.FAM_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.FAM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.FAM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.FAM_Experience_html' | t }} </p>
                 <a target="_blank" href="{{ 'About_Us.Values.FAM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>                
            </div>
          </div>
        </div>
    
    </div>
     
        </div>
       <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#FAE">
         <img src=" {{ 'About_Us.Values.FAE_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.FAE_Name' | t }} | {{ 'About_Us.Values.FAE_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.FAE_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.FAE_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="FAE" tabindex="-1" aria-labelledby="FAE" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="FAE"><b>{{ 'About_Us.Values.FAE_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.FAE_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.FAE_Name' | t }} | {{ 'About_Us.Values.FAE_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.FAE_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.FAE_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.FAE_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.FAE_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>    
            </div>
          </div>
        </div>
    
    </div>
     
        </div>
      </div>
      
      <div class="row empl text-center" >  
      
    <div class="col-lg-3 col-md-6">
      
        <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#PRM">
         <img src=" {{ 'About_Us.Values.PRM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.PRM_Name' | t }} | {{ 'About_Us.Values.PRM_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.PRM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.PRM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="PRM" tabindex="-1" aria-labelledby="PRM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="PRM"><b>{{ 'About_Us.Values.PRM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.PRM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.PRM_Name' | t }} | {{ 'About_Us.Values.PRM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.PRM_Name' | t }} </h1>
           <p class="modal-pos"><b>{{ 'About_Us.Values.PRM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.PRM_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.PRM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_ig_html' | t }}</p></a>
            </div>
          </div>
        </div>
        </div>
    
        </div>

   <div class="col-lg-3 col-md-6">
      
      <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#TEM">
         <img src=" {{ 'About_Us.Values.TEM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.TEM_Name' | t }} | {{ 'About_Us.Values.TEM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.TEM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.TEM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="TEM" tabindex="-1" aria-labelledby="TEM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="TEM"><b>{{ 'About_Us.Values.TEM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.TEM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.TEM_Name' | t }} | {{ 'About_Us.Values.TEM_Position' | t }}"/>
                  <h1> {{ 'About_Us.Values.TEM_Name' | t }} </h1>
                <p class="modal-pos"><b>{{ 'About_Us.Values.TEM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.TEM_Experience_html' | t }} </p>
                <a  target="_blank" href="{{ 'About_Us.Values.TEM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
        </div>
   
    </div>
     
      

       <div class="col-lg-3 col-md-6">
      
      
      <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#OFM">
         <img src=" {{ 'About_Us.Values.OFM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.OFM_Name' | t }} | {{ 'About_Us.Values.OFM_Position' | t }}" />
          <h1> {{ 'About_Us.Values.OFM_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.OFM_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="OFM" tabindex="-1" aria-labelledby="OFM" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="OFM"><b>{{ 'About_Us.Values.OFM_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.OFM_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.OFM_Name' | t }} | {{ 'About_Us.Values.OFM_Position' | t }}" />
                  <h1> {{ 'About_Us.Values.OFM_Name' | t }} </h1>
                <p class="modal-pos"><b>{{ 'About_Us.Values.OFM_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.OFM_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.OFM_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
        </div>
     
        </div>
       <div class="col-lg-3 col-md-6">

     <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#UID">
         <img src=" {{ 'About_Us.Values.UID_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.UID_Name' | t }} | {{ 'About_Us.Values.UID_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.UID_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.UID_Position' | t }}</b> </p>
        </button>


        <div class="modal fade" id="UID" tabindex="-1" aria-labelledby="UID" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="UID"><b>{{ 'About_Us.Values.UID_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.UID_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.UID_Name' | t }} | {{ 'About_Us.Values.UID_Position' | t }}"/>
                  <h1> {{ 'About_Us.Values.UID_Name' | t }} </h1>
                <p class="modal-pos"><b>{{ 'About_Us.Values.UID_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.UID_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.UID_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
        </div>
         
        </div>
        
        <div class="row empl text-center" > 
        <div class="col-lg-3 col-md-6">

     <button type="button" class="btn btn-black" data-mdb-toggle="modal" data-mdb-target="#PMR">
         <img src=" {{ 'About_Us.Values.PMR_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.PMR_Name' | t }} | {{ 'About_Us.Values.PMR_Position' | t }}"/>
          <h1> {{ 'About_Us.Values.PMR_Name' | t }} </h1>
           <p><b>{{ 'About_Us.Values.PMR_Position' | t }}</b> </p>
        </button>
        <div class="modal fade" id="PMR" tabindex="-1" aria-labelledby="PMR" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="PMR"><b>{{ 'About_Us.Values.PMR_Position' | t }}</b></h5>
                <button type="button" class="btn-close text-white" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-dark text-white">
                <img src=" {{ 'About_Us.Values.PMR_Pic' | t }}" class="img-fluid" alt="{{ 'About_Us.Values.PMR_Name' | t }} | {{ 'About_Us.Values.PMR_Position' | t }}"/>
                  <h1> {{ 'About_Us.Values.PMR_Name' | t }} </h1>
                <p class="modal-pos"><b>{{ 'About_Us.Values.PMR_Position' | t }}</b> </p>
                <p>{{ 'About_Us.Values.PMR_Experience_html' | t }} </p>
                <a target="_blank" href="{{ 'About_Us.Values.PMR_link' | t }}"> <p class="modal-follow">{{ 'About_Us.Values.follow_on_linkedin_html' | t }}</p></a>
            </div>
          </div>
        </div>
        </div>
         
        </div>
        </div>
        
        <div class="row gx-3 text-center justify-content-center">
    <div class="col"><h2>{{ 'About_Us.Values.Join_Team' | t }}</h2></div> 
          <p class="join_blurb"><a href="https://ackuretta.com/pages/join-us" target="_blank">{{ 'About_Us.Values.Join_Team_blurb' | t }}</a></p> 
  </div> 
        
      </div>
      
  </div>
  </div>
  
<div class="container desktop_vid">
  
  <div class="row text-center" >
          <div class="col">
            <h1 class="dream_t">{{ 'About_Us.Values.Our_Partners' | t }}</h1>
      </div>
        </div>
  
<div class="row gx-3 justify-content-center">
   <div class="col-lg-4 col-md-12 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-1' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-2' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-3' | t }}"/></div>
    </div>
</div>
   
   
<div class="row gx-3 justify-content-center">   
    <div class="col-lg-4 col-md-12 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-4' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-5' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-6' | t }}"/></div>
    </div>
</div>
  
   
<div class="row gx-3 justify-content-center">

    <div class="col-lg-4 col-md-12 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-7' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-8' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-9' | t }}"/></div>
    </div>

</div>
  
  <div class="row gx-3 justify-content-center">

    <div class="col-lg-4 col-md-12 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-10' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-11' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-12' | t }}"/></div>
    </div>

</div>
      
    <div class="row gx-3 justify-content-center">

    <div class="col-lg-4 col-md-12 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-13' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-14' | t }}"/></div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
<div class="p-b-log"><img class="logo-part img-cons img-fluid" src="{{ 'About_Us.Values.Partners-logo-15' | t }}"/></div>
    </div>

</div>
  
  
  
</div>
  
</div>



<style>
  iframe#dummy-chat-button-iframe {
    display: none;
}
  .hs-sticky-cart-cart-drawer.hs-event-static {
    display: none;
}
  .join_blurb a {
    color: #fff;
}
    .join_blurb a:hover {
    color: #764595;
}
  div#shopify-chat-dummy {
    display: none !important;
}
  p.values {
    font-size: 1rem;
}
  .icon_values {
    font-size: 4.5rem;
    background: rgb(2,0,36);
background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(118,69,149,1) 54%, rgba(255,0,0,1) 100%);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  img.logo-part.img-cons.img-fluid {
    max-height: 80px !important;
    margin: 50px 0 !important;
}
  p.modal-follow {
    text-align: end !important;
}
  p.modal-pos {
    text-align: center !important;
}
  .modal-body p {
    text-align: justify;
    font-size: 0.9rem;
}
  img.img-fluid.rounded-circle {
    max-width: 185px;
    display: initial;
  }
  
.slick-slide {
  margin: 0 30px !important;
}
  .testi-card{
  padding: 0 30px;
  }
  .bg-dark p {
    color: #fff;
}
    .bg-dark p:hover {
    color: unset;
}
  .empl{
  padding-bottom: 30px;
  }
  .bg-dark h1 {
    color: #fff;
    font-size: 1.6rem;
}
  .modal-header .btn-close {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.mission_s {
    padding: 55px 1%;
}
     .dream_t {
    padding: 30px;
   }
  .gradnt{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 15.42%,rgba(181, 181, 181, 1) 99.89%);
  background : -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 15.42%, rgba(181, 181, 181, 1) 99.89%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.1542,rgba(255, 255, 255, 1) ),color-stop(0.9989,rgba(181, 181, 181, 1) ));
  background : -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 15.42%, rgba(181, 181, 181, 1) 99.89%);
  background : -ms-linear-gradient(-90deg, rgba(255, 255, 255, 1) 15.42%, rgba(181, 181, 181, 1) 99.89%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#B5B5B5' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(255, 255, 255, 1) 15.42%, rgba(181, 181, 181, 1) 99.89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#B5B5B5' , GradientType=0);
    padding-bottom:30px;
  }
  .aboutus{
  padding-top:80px;
    overflow: hidden;
  }
  #pagecontent{
  padding:0px!important;
  }
  .pretext p{
    font-size:{{ preh_font_size }};
    line-height:{{ preh_line_height }};
    color:{{preh_font_color}};
  }
  .headline h1, h2{
  font-size:{{ head_font_size }} !important;
  line-height:{{ head_line_height }} !important;
  color:{{head_font_color}} !important;
  }
  
  .subtitle p{
   font-size:{{ sub_font_size }};
   line-height:{{ sub_line_height }};
    color:{{subtitle_font_color }};
  }

  .subtitle a{
    color:{{link_font_color}};
  }
  .subtitle a:hover{
  color:{{link_hover_color}};
  }

.head_pic{
    background-image: url('//cdn.shopify.com/s/{{section.settings.image}}')!important;
    background-repeat: repeat-x;
    height: 35em;
    background-position: center;
    background-size: cover;
  }
  
 @media only screen and (max-width: 479px) {
.head_pic {
    background-image: url('//cdn.shopify.com/s/files/1/0276/4174/1415/files/{{section.settings.image}}')!important;
    background-repeat: repeat-x;
    height: 25em;
    background-position: center;
    background-size: cover;
    }
   .caption {
     margin: 0px !important;
            }
 }
  
  @media only screen and (max-width: 798px)
{
      .headline h1, h2{
  font-size:24px !important;
  line-height:1.5em !important;
  }
}
</style>


