{% comment %}
** Search results - default view **
- Template section
- Uses blocks
{% endcomment %}

{% assign search_pagination = section.settings.pagination_limit %}

{% paginate search.results by search_pagination %}

{% if section.settings.image != blank %}
  <header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
    {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt, stretch_width: true %}
    <div class="caption captionOverlay--true">
      <h1 class="headline">{{ 'general.search.title' | t }}</h1>
    </div>
  </header>
{% endif %}



<a name="pagecontent" id="pagecontent"></a>

<div class="container" style="padding-top:80px;">

  <div class="clearfix breadcrumb-collection">
    {% if section.settings.search_breadcrumb %}
      <div class="container" itemscope itemtype="http://schema.org/BreadcrumbList">
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="breadcrumb-divider">/</span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/search" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.search.title' | t }}</span></a></span>

        {% if paginate.pages != 0 and settings.search_pagination_type != 'load_more' and settings.search_pagination_type != 'infinite_scroll' %}
            <span class="breadcrumb-divider">/</span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if section.settings.image == blank %}
    <div class="section clearfix">
      <div class="container">
       
        {% if search.performed %}
        <div class="prod-search-tit "><h1>{{ 'general.search.search_terms' | t }}: "<b>{{search.terms | replace: "*", "" }}</b>"</h1></div>
        <div class="feature_divider"></div>
        <div class="results_found" ><small> {{ 'general.search.results_count' | t: count: search.results_count   }}</small>
        {% else %}
         <h1>{{ 'general.search.title' | t }}</h1>
        <div class="feature_divider"></div>
        {% endif %}
        
        
      </div>
    </div>
  {% endif %}

 
  
    <div class="container">


    {% if search.performed %}

      {% if search.results == empty %}
        <div class="search_page text-center">
          <div class="center">
            <h3>
              {{ 'general.search.no_results' | t }}
            </h3>
          </div>
          <div class="container center">
            <p>{{ 'general.search.no_results_html' | t: terms: search.terms | replace: "*", " " }}</p>
          </div>
          <br class="clear" />

          {% include 'search-form', search_term: section.settings.search_term %}
        </div>
      {% else %}

    {% if settings.search_option == 'everything' %}

      <div class="search-matrix">
        {% for product in search.results %}
        {% include 'prd-ack-loop' %}
           {% endfor %}
      </div>
      
      {% if settings.search_pagination_type == 'load_more' or settings.search_pagination_type == 'infinite_scroll' %}
        {% if paginate.next.url %}
          <span class="js-load-more load-more">
            <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">{{ 'general.search.load_more' | t }}</a>
          </span>
        {% endif %}
      {% endif %}
    </div>
    <div class="load-more__icon"></div>

    {% else %}
      {% assign products = search.results %}
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'prd-ack-loop', sidebar: sidebar %}

    {% endif %}
  {% endif %}

    {% else %}
      <div class="clearfix search_page text-align--center">
        <div class="center">
          <h3>
            {{ 'general.search.description' | t }}
          </h3>
        </div>
        <br class="clear" />

        {% include 'search-form' %}

      </div>
    {% endif %}

    {% unless settings.search_pagination_type == 'load_more' or settings.search_pagination_type == 'infinite_scroll' %}
      {% include 'pagination' with sidebar %}
    {% endunless %}
  </div>

  {% endpaginate %}



{% schema %}

{
  "name": "Search",
  "class": "search-template-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "text",
      "id": "search_term",
      "label": "Placeholder text",
      "default": "Search..."
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Blog results"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for article excerpts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create search sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
